@import "./bootstrap.min.css";
@import "./bootstrapOveright.scss";

body {
  background-color: pink;
}

header {
  height: 30vh;
  background-color: red;
  padding-top: 5vh;
}
.learn-group {
  margin-bottom: 1.5rem;
}
.learn-item {
  .form-check.form-switch {
    position: absolute;
    top: 0;
    right: 0;
  }
  .btn.btn-primary {
    position: absolute;
    bottom: 0.3rem;
    right: 0.3rem;
    font-size: 0.8rem;
    height: 1.5rem;
    padding: 0 1rem;
    background-color: transparent;
    color: black;
    border: 0;
  }
  .card-img-top {
    max-width: 3rem;
    margin-right: 1rem;
  }
}
