<div class="col-md-4 learn-item d-flex align-items-stretch">
    <div class="card col-md-12 ">
        <div class="card-body">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" aria-learn-item="{{item.id}}" aria-group-id="{{learnGroup.id}}">
            </div>
            {# <img src="{{item.img}}" alt="{{item.name}}" class="card-img-top"> #}
            <p class="card-text">{{item.name}}</p>
            <a href="{{item.url}}" target="_blank" class="btn btn-primary">Open</a>

        </div>
    </div>
</div>