{% set pageTitle = currentLearnItem.name %}

{% extends "base.njk" %}

{% block content %}
  {% include "learn/description.njk" %}

  <div class="container">

    {% for learnGroup in currentLearnItem.itens %}
      {% include "learn/group.njk" %}
    {% endfor %}

    {# <span class="h3">{{params.list.starterAdmin.name}}</span>
  {{ listing.learnList(params.list.starterAdmin.itens) }} #}
  </div>
  {# DUMP:<pre>{{currentlearnitem |  dump(2)}}</pre> #}
{% endblock %}